<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/tms.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{"yyyy-MM-dd HH:mm:ss,SSS"} [%thread] %-5level [%c{0}] - [USER="%X{user}"] - [REF="%X{rrn}"] %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{"yyyy-MM-dd HH:mm:ss,SSS"} [%thread] %-5level [%c{0}]  - [USER="%X{user}"] - [REF="%X{rrn}"] - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ASYNC"
		class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE" />
	</appender>

	<root level="INFO">
		<appender-ref ref="ASYNC" />
		<appender-ref ref="STDOUT" />
	</root>

	<logger name="com.zaxxer.hikari" level="INFO" />
	<logger name="org.postgresql" level="INFO" />
	<logger name="com.paysyslabs.rest" level="DEBUG" />
	<logger name="org.springframework.boot.actuate.audit.listener"
		level="ERROR" />
	<logger
		name="org.apache.http.client.protocol.RequestTargetAuthentication"
		level="ERROR" />

</configuration>